{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} fade in" role="alert">
            <p class="container text-center">
                <i class="fa 
                    {% if message.tags == 'success' %} 
                        fa-check-circle
                    {% elif message.tags == 'error' %}
                        fa-exclamation-circle
                    {% elif message.tags == 'warning'%}
                        fa-warning
                    {% else %}
                        fa-info-circle
                    {% endif %}
                "></i>
                {{ message }}
            </p>
        </div>
    {% endfor %}
{% endif %}
