{% if pk %}
{% include 'web/note/includes/delete_note_form.html' %}
{% endif %}
<form {% if pk %} action="{% url action_url pk=pk %}" {% else %}  action="{% url action_url %}" {% endif %} method="post" class="form-horizontal form-label-left" id="updateNoteForm">
{% csrf_token %}
<div class="row">
    <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <strong><i class="fa fa-book"></i> Notebook</strong>
            {{ form.notebook }}
        </div>
    </div>
    <div class="col-md-8 col-xs-8">
        <div class="form-group">
        <br>
        <a href="{% url 'note_create' %}" class="btn btn-default"><i class="fa fa-plus-circle"></i> New</a>
        {% if pk %}
        <button type="submit" class="btn btn-danger pull-right btn-continue" data-continue-text="This will now delete this note" form="deleteNoteForm"><i class="fa fa-trash"></i> Delete</button>
        {% endif %}
        <button type="submit" class="btn btn-primary pull-right" form="updateNoteForm"><i class="fa fa-save"></i> Save</button>
        </div>
    </div>
</div>
<hr style="margin-top:12px">
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.text }}
        </div>
    </div>
</div>
</form>
